#!/usr/bin/make -f
export DEB_BUILD_MAINT_OPTIONS=hardening=-format
LDFLAGS+=-Wl,--as-needed
DEB_HOST_MULTIARCH?=$(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@
override_dh_auto_configure:
	dh_auto_configure -- --libdir=\$${prefix}/lib/$(DEB_HOST_MULTIARCH)
override_dh_strip:
	dh_strip --dbg-package=libpinyin0-dbg
