#!/usr/bin/make -f
DEB_HOST_MULTIARCH?=$(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
LDFLAGS+=-Wl,--as-needed

# Parallel build.
ifeq ($(DEB_HOST_ARCH_OS),linux)
    export DEB_BUILD_OPTIONS+=parallel=$(shell grep -c ^processor /proc/cpuinfo)
endif

# Disable format hardening for a short while.
export DEB_BUILD_MAINT_OPTIONS=hardening=-format

%:
	dh $@
override_dh_auto_configure:
	dh_auto_configure -- --libdir=\$${prefix}/lib/$(DEB_HOST_MULTIARCH)
override_dh_strip:
	dh_strip --dbg-package=libpinyin0-dbg
override_dh_builddeb:
	dh_builddeb -- -Zxz -z9
